<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.journalapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".users.LogInActivity" android:label="@string/login_button_label"/>
        <activity android:name=".users.SignUpActivity" android:label="@string/sign_up_button_label"/>
        <activity android:name=".AddJournalActivity" android:label="@string/title_activity_add_journal"/>
        <activity android:name=".UpdateJournalActivity" android:label="@string/title_activity_update_journal"></activity>
    </application>

</manifest>